<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <p>{{now}}</p>
        <p> total productive: {{total_productive}}</p>
        <p> total fun: {{total_fun}}</p>
        <p> today productive: {{today_productive}}</p>
        <p> today fun: {{today_fun}}</p>
        <a href="{{url_for('add_one_productive')}}"><button>add 1 productive</button></a>
        <a href="{{url_for('minus_one_productive')}}"><button>minus 1 productive</button></a>
        <a href="{{url_for('add_one_fun')}}"><button>add 1 fun</button></a>
        <a href="{{url_for('minus_one_fun')}}"><button>minus 1 fun</button></a>
    </body>
</html>